---
layout: default
title: Logística
logo-title: Logística
permalink: /logistica/
cover:
    mobile: https://c1.staticflickr.com/9/8820/28847258105_afdf6fe9a2_z.jpg
    desktop: https://c1.staticflickr.com/9/8751/27955014043_51843b7d00_b.jpg
---

{% include page-content.html
    inner-class  = 'section-hero'
    content-file = 'logistica/hero.html'
%}

{% include page-content.html
    class  = 'section-excerpt'
    content-file = 'logistica/excerpt.html'
%}

{% include page-content.html
    class = 'concrete-wall'
    inner-class  = 'section-gallery'
    content-file = 'logistica/gallery.html'
%}