---
layout: default
title: J&R Logística
logo-img: logo-logistica.png
logo-subtitle: <img src="/img/logo-subtitle-logistica.png">
permalink: /logistica/
sections:
  - title: Início
    id: topo
  - title: Empresa
    id: empresa
  - title: Aluguel
    id: galpoes
  - title: Estrutura
    id: estrutura
  - title: Licenças
    id: documentos
  - title: Localização
    id: mapa
cover:
  mobile: https://c1.staticflickr.com/9/8820/28847258105_afdf6fe9a2_z.jpg
  desktop: https://c1.staticflickr.com/9/8751/27955014043_51843b7d00_b.jpg
docs:
  - title: CETESB
    file : /docs/logistica/logistica-CETESB-2020.pdf
  - title: IBAMA
    file : /docs/logistica/logistica-ibama-armazenagem-logistica-outubro-2016.pdf
  - title: CORPO DE BOMBEIROS
    file : /docs/logistica/logistica-vistoria-corpo-de-bombeiros.pdf
  - title: DECLARAÇÃO DE ARMAZÉNS GERAIS
    file : /docs/logistica/logistica-declaracao-de-armazem-geral.pdf
---

<section class="page-content section-about concrete-wall" id="empresa" data-title="Empresa">
  
  <header class="post-header" data-entrance-style="happen" data-entrance-style="happen">
    <h2 class="post-title">J&R Logística</h2>
  </header>
  <div data-grid="center spacing" class="post-content" data-entrance-style="right">
    <div class="wrapper">
      <p>Para oferecer o máximo de agilidade ao seu negócio, procuramos atender a logística de forma completa: armazenamento, inventário, documentação, e até dependências para reuniões e atividades administrativas. Todo o nosso serviço é licenciado por órgãos de controle para armazenar qualquer tipo de produto.</p>
      <p>Com mais de 20 anos no mercado, e dando suporte tecnológico e logístico em todo o país, desenvolvemos soluções que vão além do serviço de transporte. Além de veículos pesados, nossa frota também conta com veículos e equipamentos para suporte de carga e descarga de materiais. Todo esse processo é feito por profissionais qualificados com o rigor que o seu negócio precisa.</p>
      <p>Possuímos diversos galpões nas seguintes medidas: 1.900m², 450m², 600m² e 750m², e também disponibilizamos o armazenamento unitário, podendo deixar Pallets (no mínimo 15 Pallets ou posições) em estoque com total controle e agilidade na administração. Todo o estoque é controlado por sistemas avançados que garantem que a sua carga está segura e pronta para o envio quando for solicitada.</p>
      <p>Assim como acontece com o serviço de transporte, toda esta estrutura é protegida por um sistema de monitoramento de segurança em rede 24 horas, incluindo circuito de câmeras e portaria.</p>
    </div>
  </div>

</section>

<section class="page-content section-hero" id="galpoes" data-title="Aluguel de galpões">
  <div class="wrapper" data-entrance-style="happen">
    {% include share/widget.html position='Header' %}
  </div>
  <div data-grid="grid center" class="wrapper">
    <header class="hero-header" data-entrance-style="left">
      <h1>Aluguel de galpões e armazéns</h1>
      <h2>Com prazer, anunciamos este novo serviço para melhorar ainda mais a logística de sua empresa.</h2>
    </header>
    <aside class="call-to-action" data-entrance-style="right">
      <p><strong>Ligue agora!</strong></p>
      <p>{% include tel-link.html phone='+551532353848' label='(15) 3235.3848 *' class='call-to-action-link 1' tip='Toque para fazer uma chamada.' %}</p>
    </aside>
  </div>
  {% include embed-youtube-video.html id='_nO1uCys64w' params='rel=0' %}
  <footer data-grid="grid center" class="wrapper">
    <ul data-entrance-style="left">
      <li>Espaço profissional e com suporte de profissionais e máquinas;</li>
      <li>Armazene próximo a São Paulo, fora do trânsito pesado;</li>
      <li>Administre e faça reuniões no local;</li>
      <li>Segurança de uma empresa confiável e credenciada.</li>
    </ul>
    <aside class="call-to-action footer-call-to-action" data-entrance-style="right">
      <p><strong>Ligue agora!</strong></p>
      <p>{% include tel-link.html phone='+551532353848' label='(15) 3235.3848 *' class='call-to-action-link 1' tip='Toque para fazer uma chamada.' %}</p>
    </aside>
  </footer>
</section>

<section class="page-content section-excerpt" id="estrutura" data-title="Estrutura">
  <div data-grid="center justify spacing" data-entrance-style="happen">
    <div data-grid="center" class="excerpt-figure-container"><div class="excerpt-figure">
      <img src="https://c1.staticflickr.com/9/8800/28535865936_78aea7607c.jpg" alt="Área interna de um dos nossos armazéns">
    </div></div>
    <div class="excerpt-figure-caption">
      <p>A J&amp;R Armazenagem e Logística dispõe de 15.000 m² de galpões e armazéns de alto padrão tecnológico, caracterizados por estrutura porta pallet ou área livre para armazenagem de grande porte.</p>
    </div>
  </div>
  <div data-grid="center justify spacing" data-entrance-style="happen">
    <div data-grid="center" class="excerpt-figure-container"><div class="excerpt-figure">
      <img src="https://c1.staticflickr.com/9/8816/27953022143_4f69d7614b.jpg" alt="Suporte de profissionais e máquinas">
    </div></div>
    <div class="excerpt-figure-caption">
      <p>Primando pela segurança do trabalho e a qualidade nos serviços prestados, contamos com a perícia do manuseio de profissionais habilitados no ramo e o suporte de maquinário devidamente credenciado para movimentação.</p>
    </div>
  </div>
  <div data-grid="center justify spacing" data-entrance-style="happen">
    <div data-grid="center" class="excerpt-figure-container"><div class="excerpt-figure">
      <img src="https://c1.staticflickr.com/9/8894/27953021983_19e516c12d.jpg" alt="Estrutura para atividades administrativas">
    </div></div>
    <div class="excerpt-figure-caption">
      <p>O local também é estruturado para visitas, reuniões e atividades administrativas.</p>
    </div>
  </div>
</section>

<section class="page-content section-gallery" id="fotos">
  {% include sections/gallery.html %}
</section>

<section class="page-content section-docs" id="documentos" data-title="Documentos">
  <div class="wrapper" data-entrance-style="right">
    {% include sections/docs.html %}
  </div>
</section>

<section class="page-content section-locais concrete-wall" id="mapa" data-title="Localização">
  <div class="wrapper">
    <header class="post-header" data-entrance-style="happen">
      <h2 class="post-title">Localização</h2>
    </header>
    {% assign arrlocal = site.locais | where: 'nome', 'Matriz' %}
    {% assign mapsrc = arrlocal[0].src %}
    <div data-entrance-style="right">
      {% include embed-google-maps.html src = mapsrc %}
    </div>
  </div>
</section>