---
layout: default
title: Transportes
permalink: /transportes/
cover:
  mobile: https://c1.staticflickr.com/9/8793/28494114751_0128b3cbae_c.jpg
  desktop: https://c1.staticflickr.com/9/8706/28973774056_00a6b03869_b.jpg
docs:
  - title: ANTT
    file : /docs/transportes/Agencia-Nacional-de-Transportes-Terrestres.pdf
  - title: Exército
    file : /docs/transportes/Auto-de-Vistoria-do-Exercito-Brasileiro.pdf
  - title: IBAMA
    file : /docs/transportes/Certificado-de-Regularidade-Ibama.pdf
  - title: Polícia Civil
    file : /docs/transportes/Alvara-de-Licenca-Policia-Civil.pdf
  - title: Polícia Federal - Licença
    file : /docs/transportes/Policia-Federal-Licenca-de-Funcionamento.pdf
  - title: Polícia Federal - Registro
    file : /docs/transportes/Policia-Federal-Registro-Cadastral.pdf
  - title: S.O.S. Cotec
    file : /docs/transportes/Certificado-SOS-Cotec.pdf
---

{% include page-content.html
  class        = 'concrete-wall'
  inner-class  = 'section-about'
  content-file = 'transportes/about.html'
%}

{% include embed-youtube-video.html id='_nO1uCys64w' params='rel=0' %}

{% include page-content.html
  class        = 'section-service'
  inner-class  = 'wrapper'
  content-file = 'transportes/service.html'
%}

{% include page-content.html
  class        = 'section-docs'
  inner-class  = 'wrapper'
  content-file = 'docs.html'
%}


{% include page-content.html
  class        = 'section-coleta'
  inner-class  = 'wrapper'
  content-file = 'forms/coleta.html'
%}


<!-- {% include locais.html local="Matriz" %} -->