---
layout: default
title: J&R Transportes
logo-img: logo-transportes.png
logo-subtitle: <img src="/img/logo-subtitle-transportes.png">
permalink: /transportes-vermelho/
sections:
  - title: Início
    id: topo
  - title: Empresa
    id: empresa
  - title: Serviços
    id: servicos
  - title: Licenças
    id: documentos
  - title: Coleta
    id: coleta
  - title: Localização
    id: mapa
cover:
  mobile: https://c1.staticflickr.com/9/8793/28494114751_0128b3cbae_c.jpg
  desktop: https://c1.staticflickr.com/9/8706/28973774056_00a6b03869_b.jpg
docs:
  - title: ANTT - Sorocaba
    file : /docs/transportadora-sorocaba/sorocaba-ANTT-2021.pdf
  - title: ART - Sorocaba
    file : /docs/transportadora-sorocaba/sorocaba-ART-2017.pdf
  - title: Licença Prefeitura - Sorocaba
    file : /docs/transportadora-sorocaba/sorocaba-Licenca-de-Funcionamento-Prefeitura.pdf
  - title: Polícia Civil - Sorocaba
    file : /docs/transportadora-sorocaba/sorocaba-policia-civil-produtos-quimicos-2016.pdf

  - title: Polícia Federal - Sorocaba
    file : /docs/transportadora-sorocaba/sorocaba-federal-junho-2017-certificado-licenca-de-funcionamento.jpg
  - title: IBAMA - Sorocaba
    file : /docs/transportadora-sorocaba/sorocaba-ibama-nov-2016.pdf
  - title: Protocolo do Exército - Sorocaba
    file : /docs/transportadora-sorocaba/sorocaba-protocolo-exercito-2017.pdf

  - title: Corpo de Bombeiros - Filial Osasco
    file : /docs/transportadora-osasco/osasco-licenca-corpo-de-bombeiros-2021.pdf
  - title: Polícia Civil - Filial Osasco
    file : /docs/transportadora-osasco/osasco-policia-civil-produtos-quimicos-2016.pdf
  - title: Polícia Federal - Filial Osasco
    file : /docs/transportadora-osasco/osasco-protocolo-policia-federal-2016.pdf

  - title: IBAMA - Filial Osasco
    file : /docs/transportadora-osasco/osasco-ibama-certificado-de-regularidade-jan-2017.pdf
  - title: Protocolo de Habilitação de Pessoa Jurídica - Filial Osasco
    file : /docs/transportadora-osasco/osasco-protocolo-habilitacao-pessoa-juridica-2016.pdf
---

<section class="page-content section-about red-wall" id="empresa" data-title="Empresa">
  
  <header class="post-header" data-entrance-style="happen">
    <h2 class="post-title">TRANSPORTADORA J&R</h2>
    <h3>Nossos serviços integrados em um único espaço</h3>
  </header>
  <div data-grid="center spacing" class="post-content">
    <aside data-cell="1of3" data-entrance-style="left">
      <img src="{{ '/img/fotos_empresa_jrtranportes.png' | prepend: site.baseurl }}" alt="">
    </aside>
    <div data-cell="2of3" data-entrance-style="right">
      <p>Criada em 04 de Maio de 1993, a J&R Transportes possui um território de 30.000 m², e está localizada na Avenida Victor Andrew 3210, no Éden, zona industrial de Sorocaba.</p>
      <p>Ao longo de seus 26 anos de trabalho a Transportadora J&R, além de adquirir excelência no transporte de produtos controlados no estado de São Paulo e região , se tornou referência em pontualidade e responsabilidade quando estabelecidos os prazos de entregas e coletas.</p>
      <p>Dispomos de uma frota própria de 50 veículos, entre carros de pequeno/médio/grande porte, rastreados 24hrs , devidamente licenciados e vistoriados pelos mais exigentes órgãos competentes que regem as legislações do Transporte de Produto Perigoso e Controlado no país.</p>
      <p>A transportadora J&R, além de sua matriz em Sorocaba dispõe de pontos de apoio e veículos no estado de São Paulo, visando o acesso rápido de seus clientes, facilitando transferências de mercadorias  e entregas pontuais em pontos estratégicos da capital, grande São Paulo e interior.</p>
      <p>Nosso escritório administrativo possui um grande suporte tecnológico de computadores interligados em rede e internet, e câmeras monitorando os serviços durante 24 horas por dia, garantindo a segurança, qualidade, rapidez e bons serviços aos nossos clientes, que somam hoje mais de 150 clientes em Sorocaba e região.</p>
      <p>Com experiência, dedicação e carinho pelo trabalho, a equipe J&R aguarda seu contato com a certeza de que conosco não estará realizando apenas a prestação de serviço, mas sim uma parceria dedicada e vitoriosa.</p>

    </div>
  </div>

  {% include share/widget.html position='section-about' %}

</section>

<section class="page-content section-service red-wall" id="servicos" data-title="Serviços">
  <div class="wrapper">
    <header class="post-header" data-entrance-style="happen">
      <h2 class="post-title">Nossos serviços</h2>
    </header>
    <div class="post-content">
      <div data-grid="center">
        <div data-cell="1of2" data-entrance-style="left">
          <p>Atuamos no estado de São Paulo, principalmente nas regiões da Grande São Paulo e de Sorocaba. Trabalhamos com cargas fracionadas e também cargas fechadas. Nossos serviços são totalmente personalizados, havendo a possibilidade de atendimento de quaisquer tipos de carga e locais de entrega.</p>
          <p>Temos todos os tipos de veículos que seu negócio possa demandar. Desde carros leves e médios até veículos pesados, com um eficiente controle de frota, através de rastreamento 24 horas por satélite e um programa de manutenções preventivas que segue os princípios de sustentabilidade e respeito ao meio ambiente.</p>
        </div>
        <div data-cell="1of2">
          <img src="{{ '/img/bg-estado-de-sao-paulo.png' | prepend: site.baseurl }}" alt="em todo estado de São Paulo">
        </div>
      </div>
      <div data-entrance-style="happen">
        <p>Além da eficiência no transporte, atuamos na área de logística e movimentação há mais de 10 anos no mercado, para que o cliente não tenha custos com armazenamento em sua empresa e possa enfocar a aplicação de seus recursos na sua atividade fim, deixando com a Armazenagem e Logística J&R a responsabilidade de administrar seu estoque. Hoje administramos mais de 2.900 pallets com total eficiência, graças ao trabalho dinâmico de nossos funcionário capacitados.</p>
        <p>Possuímos diversos galpões nas seguintes medidas, 1.900m², 450m², 600m² e 750m², e também disponibilizamos o armazenamento unitário, podendo deixar Pallets avulsos com no mínimo de 15 Pallets (Posições) em estoque com total controle e administração.</p>
      </div>
    </div>
  </div>
</section>

{% include embed-youtube-video.html id='_nO1uCys64w' params='rel=0' %}

<section class="page-content section-docs" id="documentos" data-title="Documentos">
  <div class="wrapper" data-entrance-style="right">
    {% include sections/docs.html %}
  </div>
</section>

<section class="page-content form-coleta" id="coleta" data-title="Coleta">
  <div class="wrapper" data-entrance-style="happen">
    {% include forms/coleta.html %}
  </div>
</section>

{% include sections/bg-caminhao.html %}

<section class="page-content section-locais concrete-wall" id="mapa" data-title="Localização">
  <div class="wrapper">
    <header class="post-header" data-entrance-style="happen">
      <h2 class="post-title">Localização</h2>
    </header>
    {% assign arrlocal = site.locais | where: 'nome', 'Matriz' %}
    {% assign mapsrc = arrlocal[0].src %}
    <div data-entrance-style="right">
      {% include embed-google-maps.html src = mapsrc %}
    </div>
  </div>
</section>