---
layout: default
title: Transportes
logo-title: Transportes
permalink: /transportes/
cover:
  mobile: https://c1.staticflickr.com/9/8793/28494114751_0128b3cbae_c.jpg
  desktop: https://c1.staticflickr.com/9/8706/28973774056_00a6b03869_b.jpg
docs:
  - title: ANTT
    file : /docs/transportes/Agencia-Nacional-de-Transportes-Terrestres.pdf
  - title: Exército
    file : /docs/transportes/Auto-de-Vistoria-do-Exercito-Brasileiro.pdf
  - title: IBAMA
    file : /docs/transportes/Certificado-de-Regularidade-Ibama.pdf
  - title: Polícia Civil
    file : /docs/transportes/Alvara-de-Licenca-Policia-Civil.pdf
  - title: Polícia Federal - Licença
    file : /docs/transportes/Policia-Federal-Licenca-de-Funcionamento.pdf
  - title: Polícia Federal - Registro
    file : /docs/transportes/Policia-Federal-Registro-Cadastral.pdf
  - title: S.O.S. Cotec
    file : /docs/transportes/Certificado-SOS-Cotec.pdf
---

{% include page-content.html
  class        = 'concrete-wall'
  inner-class  = 'section-about'
  content-file = 'transportes/about.html'
%}

{% include embed-youtube-video.html id='_nO1uCys64w' params='rel=0' %}

{% include page-content.html
  class        = 'section-service'
  inner-class  = 'wrapper'
  content-file = 'transportes/service.html'
%}

{% include page-content.html
  class        = 'section-docs'
  inner-class  = 'wrapper'
  content-file = 'docs.html'
%}


{% include page-content.html
  class        = 'form-coleta'
  inner-class  = 'wrapper'
  content-file = 'forms/coleta.html'
%}

<div class="bg-caminhao"><div class="bg-caminhao-inner"></div></div>
<script>
  (function(){
    var
      offset = 300,
      outer = document.querySelector('.bg-caminhao'),
      inner = outer.querySelector('.bg-caminhao-inner'),
      vh = window.innerHeight
    ;
    inner.style.right = offset*(-1) +'px';
    inner.style.transform = 'translate('+ offset*(-1) +'px)'
    window.addEventListener('scroll', scrollHandler);
    function scrollHandler() {
      var
        bounding = inner.getBoundingClientRect(),
        t = bounding.top,
        h = bounding.height
      ;
      if ( t<=vh && t>=0 ) {
        var newOffset = Math.ceil( t / vh * offset );
        inner.style.transform = 'translate('+ newOffset*(-1) +'px)';
      }
    }
  })();
</script>
<section class="page-content section-locais concrete-wall">
  <div class="wrapper">
    <header class="post-header">
      <h2 class="post-title">Localização</h2>
    </header>
    {% include share/widget.html position = 'section-locais' %}
  </div>
</section>

{% assign arrlocal = site.locais | where: 'nome', 'Matriz' %}
{% assign mapsrc = arrlocal[0].src %}
{% include embed-google-maps.html src = mapsrc %}