
{% if page.cover.desktop %}
<style>
	.site-header {
		background-image:url('{{ page.cover.mobile }}');
    background-size: cover;
    height: 640px;
	}
	@media screen and (min-width: 801px) {
		.site-header {
			background-image: url('{{ page.cover.desktop }}');
		}
	}
</style>
{% else %}
<style>
  .site-title {
    display: table;
    margin: auto;
  }
</style>
{% endif %}

<header class="site-header" id="topo">

  <div class="header-wrapper">

    <div class="wrapper">
      <div class="site-title">
        <a href="{{ site.baseurl }}/"><img src="{% if page.logo-img %}{{ '/img/' | append: page.logo-img | prepend: site.baseurl }}{% else %}{{ '/img/Logo-JR.png' | prepend: site.baseurl }}{% endif %}" alt="Logo J&R Transportes e Logística"></a>
        {% if page.logo-subtitle %}
          <h1 class="logo-subtitle">{{ page.logo-subtitle }}</h1>
        {% endif %}
      </div>
    </div>

    <nav class="site-nav">
      <a href="{{ '/' | prepend: site.baseurl }}" class="header-link">
      {% include icon/home.svg %}
      EMPRESA</a>
      <a href="#contato" class="header-link">
      {% include icon/mail.svg %}
      FALE CONOSCO</a>
    </nav>

  </div>

</header>

{% if page.sections %}
  <nav class="nav-bar">

    <div class="wrapper nav-toggle" data-grid="center row nowrap justify">
      <div data-cell class="nav-logo"><img src="{{ "/img/Logo-JR.png" | prepend: site.baseurl }}" alt="Logo J&R Transportes e Logística" width="60"></div>
      <div data-cell="shrink" class="nav-toggle-btn"><a href="#menu">MENU</a></div>
    </div>

    <div class="wrapper nav-links" data-grid="center nowrap justify">
      {% for section in page.sections %}
        <a href="{{ section.id | prepend: '#' }}">{{ section.title }}</a>
      {% endfor %}
    </div>

  </nav>
{% endif %}