
<div class="post-content" data-grid="spacing">
	{% for local in site.locais %}
	<article class="locais-unidade">
		<h3>{{ local.nome }}</h3>
		<p>{{ local.endereco }}</p>
		{% assign tel-number = local.telefone %}
		{% assign tel-action = tel-number | remove: ' ' | remove: '.' | remove: '-' | remove: '(' | remove: ' ' | remove: ')' | prepend: '+55' %}
		{% include tel-link.html 
			class = 'call-to-action-link locais-chamada'
			label = tel-number
			phone = tel-action
		%}
	</article>
	{% endfor %}
</div>
