
<header class="post-header">
	<h2 class="post-title">J&R Transportes - Logística e Distribuição</h2>
</header>

<div data-grid="center spacing" class="post-content">
	<aside data-cell="1of3">
		<img src="{{ '/img/fotos_empresa_jrtranportes.png' | prepend: site.baseurl }}" alt="">
	</aside>
	<div data-cell="2of3">
		<p>Criada em 04 de Maio de 1993, a J&R Transportes possui um território de 30.000 m², e está localizada na Avenida Victor Andrew 3210, no Éden, zona industrial de Sorocaba.</p>
		<p>No início a empresa funcionava em um barracão com um pouco mais de 300 m² somente com 01 empilhadeira e 02 caminhões e um pequeno escritório. Com apoio de terceiros, alto investimento em tecnologia e equipamentos, sua visão de futuro foi fator determinante para o crescimento e desenvolvimento da empresa.</p>
		<p>Nossa principal forma de atuação é de capital aberto. Nossa missão principal é transportar materiais metalúrgicos, aromas, fragrâncias, cosméticos, embalagens, peças, produtos químicos, etc.</p>
		<p>A transportadora possui também parceria com terceiros que atuam junto à organização. Com abertura de uma nova filial em São Paulo, o serviço de transporte foi ampliado para todo o estado, e em diversas cidades por todo o Brasil.</p>
	</div>
</div>

