
<header class="post-header">
	<h2 class="post-title">Nossos serviços</h2>
</header>
<div class="post-content">
	<div data-grid="center">
		<div data-cell="1of2">
			<p>Atuamos no estado de São Paulo e todo Brasil, principalmente nas regiões da Grande São Paulo e de Sorocaba. Trabalhamos com cargas fracionadas e também cargas fechadas. Nossos serviços são totalmente personalizados, havendo a possibilidade de atendimento de quaisquer tipos de carga e locais de entrega.</p>
			
			<p>Temos todos os tipos de veículos que seu negócio possa demandar. Desde carros leves e médios até veículos pesados, com um eficiente controle de frota, através de rastreamento 24 horas por satélite e um programa de manutenções preventivas que segue os princípios de sustentabilidade e respeito ao meio ambiente.</p>
		</div>
		
		<div data-cell="1of2">
			<img src="{{ '/img/bg-estado-de-sao-paulo.png' | prepend: site.baseurl }}" alt="em todo estado de São Paulo">
		</div>
	</div>
	
	<p>Nosso escritório administrativo possui um grande suporte tecnológico de computadores interligados em rede e internet, e câmeras monitorando os serviços durante 24 horas por dia, garantindo a segurança, qualidade, rapidez e bons serviços aos nossos clientes, que somam hoje mais de 150 clientes em Sorocaba e região.</p>
	
	<p>Além da eficiência no transporte, atuamos na área de logística e movimentação há mais de 10 anos no mercado, para que o cliente não tenha custos com armazenamento em sua empresa e possa enfocar a aplicação de seus recursos na sua atividade fim, deixando com a Armazenagem e Logística J&R a responsabilidade de administrar seu estoque. Hoje administramos mais de 2.900 pallets com total eficiência, graças ao trabalho dinâmico de nossos funcionário capacitados.</p>
	
	<p>Possuímos diversos galpões nas seguintes medidas, 1.900m², 450m², 600m² e 750m², e também disponibilizamos o armazenamento unitário, podendo deixar Pallets avulsos com no mínimo de 15 Pallets (Posições) em estoque com total controle e administração.</p>
</div>